.switch__container {
  padding: 2px;
  background: #147efb;
}

.switch__button__normal {
  font-size: 16px;
  padding: 5px 20px;

  border-right-width: 2px;
  border-right-color: #147efb;
  user-select: none;
  outline: none;
  background: #fff;
  cursor: pointer;

  border-right-width: 0;
  border-left-width: 0;

  border: 2px solid #fff;
  border-right-width: 2px;

  background: #fff;
}

.switch__button__active {
  border: 2px solid #fff;
  font-size: 16px;
  padding: 5px 20px;

  user-select: none;
  outline: none;

  background: #147efb;
  color: #fff;
  cursor: pointer;
}
