.home__search {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}

.home__search__space {
  margin-left: 10px;
}

.card__side {
  display: flex;
  justify-content: center;

  margin-top: 100px;
}
